FLASK_APP=manage.py
FLASK_DEBUG=1
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:postgres@db:5432/fashion_school_db
WA_API_URL=http://flask-boilerplate-wabot-1:3000
GOOGLE_DRIVE_ROOT_FOLDER_ID=your-drive-folder-id
GOOGLE_OAUTH_CLIENT_ID=your-oauth-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-oauth-client-secret
GOOGLE_OAUTH_REFRESH_TOKEN=your-oauth-refresh-token
